body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(34, 33, 29);
    padding-left: 2%;
    padding-right: 2%;
}
.header {
    display: flex;
    padding: 10px;
    background-color: rgb(110, 7, 7);
    max-height: 125px;
    margin-top: 1%;

}

.header img {
    max-width: 30%;
    height: auto;
    float: left; 

}
.header h1{
    color: rgb(214, 218, 16);
    align-content: center;

}

.container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    min-height: 600px;

    margin: 1em 0;
    background-color: rgb(110, 7, 7);
    margin-bottom: 10%;
}
.card {
    background-color: #dfded1;
    border: 3px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 500px;
    text-align: center;
    height: auto;
}

.card h2 {
    margin-top: 0;
    text-align: left;

}

.card p, .izquierda p {
    color: #000000;
    text-align: justify;
}
.card img{
    max-width: 80%;
    height: auto;
    border-radius: 8px;
}


.card .boton, .derecha .boton{
    justify-self: end;
    vertical-align: bottom;
    align-items: end;
    box-shadow: 0 4px 8px rgba(33, 100, 117, 0.1);
    background-color: rgb(180, 212, 212);
    border: 3px solid #568db3;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;

    
}

.izquierda{
    float: left; 
    width: 60%;
    background-color: #dfded1;
    margin: 20px ;
    padding-right: 20px;
    padding-left: 20px;
}
.derecha{
    float: right;
    width: 30%;
    background-color: #dfded1;
    margin: 20px ;
    padding-right: 20px;
    padding-left: 20px;
    justify-content: center;
}

@media (max-width: 1700px) {
    .izquierda, .derecha{
        float: none;
        width: 100%;
    }
}

.izquierda h1{
    font-size: xx-large;
    font-size: 250%;
}
.izquierda img {
    max-width: 100%;
    
}
.boton2{
    justify-self: center;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(33, 100, 117, 0.1);
    background-color: rgb(114, 133, 133);
    border: 3px solid #60676b;
    border-radius: 8px;
    margin: 30px;
    width: 90%;
}
.derecha img{
    width: 50;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto
    
}
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
hr{
    height: 2px;
    border: none;
    background-color: rgb(110, 110, 110); 
    margin-top: 30px;
    margin-bottom: 30px;
    
}
a{
    text-decoration: none;
}